In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('galaxy.csv')

In [3]:
data.head()

,BuyItNow,startprice,carrier,color,productline,noDescription,charCountDescription,upperCaseDescription,sold
0,0,199.99,None,White,Galaxy_S9,contains description,0,0,1
1,0,235.00,None,NaN,Galaxy_Note9,contains description,0,0,0
2,0,199.99,NaN,NaN,Unknown,no description,100,2,0
3,1,175.00,AT&T,Space Gray,Galaxy_Note9,contains description,0,0,1
4,1,100.00,None,Space Gray,Galaxy_S8,contains description,0,0,1

In [4]:
def price(x):
    if x % 1 == 0:
        return x * 100
    else:
        return (x + 0.01) * 100

In [7]:
price(99.99)

10000.0

In [9]:
data['startprice'].apply(lambda x: price(x)) #람다 표현식으로 함수 만들기

0       20000.0
1       23500.0
2       20000.0
3       17500.0
4       10000.0
         ...
1480     8951.0
1481    23996.0
1482    33000.0
1483     8900.0
1484    12000.0
Name: startprice, Length: 1485, dtype: float64

In [10]:
data.apply(lambda x: price(x['startprice']), axis = 1) # axis 꼭 추가해야 함

0       20000.0
1       23500.0
2       20000.0
3       17500.0
4       10000.0
         ...
1480     8951.0
1481    23996.0
1482    33000.0
1483     8900.0
1484    12000.0
Length: 1485, dtype: float64

In [21]:
def name(x):
    if x > 10:
        x + 10
    else:
        x - 10

In [22]:
data['startprice'].apply(lambda x: name(x))

0       None
1       None
2       None
3       None
4       None
        ...
1480    None
1481    None
1482    None
1483    None
1484    None
Name: startprice, Length: 1485, dtype: object

In [13]:
data['startprice'].apply(lambda x: x+10 if x > 10 else x - 10)

0       209.99
1       245.00
2       209.99
3       185.00
4       110.00
         ...
1480     99.50
1481    249.95
1482    339.99
1483     99.00
1484    129.99
Name: startprice, Length: 1485, dtype: float64

In [17]:
def price(x):
    if x % 1 == 0:
        return x * 100
    else:
        return (x + 0.01) * 100

In [18]:
data['startprice'].apply(lambda x: x * 100 if x % 1 == 0 else (x + 0.01) * 100)

0       20000.0
1       23500.0
2       20000.0
3       17500.0
4       10000.0
         ...
1480     8951.0
1481    23996.0
1482    33000.0
1483     8900.0
1484    12000.0
Name: startprice, Length: 1485, dtype: float64

In [19]:
data['startprice']

0       199.99
1       235.00
2       199.99
3       175.00
4       100.00
         ...
1480     89.50
1481    239.95
1482    329.99
1483     89.00
1484    119.99
Name: startprice, Length: 1485, dtype: float64

In [20]:
data['startprice'].apply(lambda x: 200 if x > 200 else (100 if x >100 else 0) )

0       100
1       200
2       100
3       100
4         0
       ...
1480      0
1481    200
1482    200
1483      0
1484    100
Name: startprice, Length: 1485, dtype: int64